.col-md-8.col-sm-8 h1 {
	margin-bottom: 4%;
	font-family: 'Cantarell', sans-serif;
	color: rgb(38, 43, 60);
}

.container-fluid {
	text-align: center;
	margin-top: 3%;
	/*border: 1px solid red;*/
}

.form-control {
	border-radius: 25px;
	letter-spacing: 3px;
	
}

.btn {
	margin-top: 1%;
	border-radius: 18px;
	font-size: medium;
	background-image: none;
	border-color: rgb(28, 35, 48);
	text-shadow: none;
	box-shadow: none;
}

.btn:hover {
	background-color: rgb(28, 35, 48);
	color: white;
	text-shadow: none;
	box-shadow: none;
	border-color: rgb(28, 35, 48);
}

.dropdown-toggle {
	background-color: rgb(128, 33, 46);
	color: #fff;
	font-weight: 200;
}
.dropdown-toggle:hover {
	background-color: #fff;
	color: rgb(48, 89, 119);

}

.btn-default:onclick {
	background-color: none;
	border: none;
}

input {
	text-align: center;
}

#sign-name {
	margin-top: 3%;
	font-family: 'Cantarell', sans-serif;
	color: rgb(38, 43, 60);
}

#birth-dates {
	font-family: 'Cantarell', sans-serif;
	color: rgb(38, 43, 60);
}

#sign-info {
	margin-top: 1%;
	font-family: 'Cantarell', sans-serif;
	font-size: medium;
	color: rgb(38, 43, 60);
}

#sign-image {
	margin-top: 3%;
	border: 1px solid rgb(38, 43, 60);
	border-radius: 10px;
}

#compat {
	font-family: 'Cantarell', sans-serif;
	color: rgb(38, 43, 60);
	font-size: medium;
}

ul.dropdown-menu {
	margin-left: 10%;
	margin-top: 0;
	text-align: center;
	background-color: rgb(128, 33, 46);
	color: #fff;
}

.dropdown {
	display: inline-block;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu li {
	font-weight: 200;
}

.dropdown-menu li:hover {
	background-color: rgb(77, 33, 46);
	cursor: default;
}





